@charset "UTF-8";
html {background-color: cornsilk; font-family: Arial, Helvetica, sans-serif;}
section {width: 900px; background-color: silver; display: flex; justify-content: center; margin: auto; box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.322);}
section.bo {border-radius: 20px 20px 0px 0px;}
section.to {border-radius: 0px 0px 20px 20px;}
div, nav {display: flex; justify-content: center; padding: 10px;}
h1 {color: rgb(92, 92, 92); font-size: 2em; padding: 10px;}
p {color: rgb(92, 92, 92); font-size: 1.1em; text-align: justify;}
p.r {text-align: right;}
p.l {text-align: left;}
img.au {width: 650px; box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.322); padding: 5px;}
img.i {height: 199px;}
img.j {height: 214px;}
u {color: #044999e7; text-decoration-style: double;}
span {color: #772403b9;}
span.a, p#a {color: #044999e7;}
span.v {color: rgb(7, 77, 7);}
span.cv {color: rgb(150, 16, 16);}
span.r {color: blueviolet;}
span.c {color: rgb(141, 141, 141);}
b {font: arial narrow; color: rgb(122, 89, 5);}
i.i {font-size: 0.8em; font: arial narrow;}
